h1{
	text-align: center;
	


	color: red;
}

.button{

	text-align: center;

	margin-top: 30px;




}


.counter{

	background-color:red;  /* Fond gris */
	height:135px;
	width:375px;

	padding-top: 40px;

	/* Centrer horizontalement*/
	margin-left:auto; 
	margin-right:auto;

	/*Centrer verticalement*/
	margin-top:100px;

	/*Arondit les angles*/
	border-radius:5px;

	/*Ajoute la police que nous avions intégrer*/
	font-family:Chrono;

	/*Définit la couleur et la taille du texte*/ 
	color:white;
	font-size:100px;

	/*Aligne le texte au centre*/
	text-align:center;
}

.chrono{

	text-align: center;
}

form{

	text-align: center;

	margin-top: 30px;
}
